*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  font-size: 36px;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
  background-image: url(https://images.unsplash.com/photo-1581642087552-f408e81c9287?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.js-search-input {
  outline: none;
}
